PORT=8081
NS_MARIADB_HOSTNAME=127.0.0.1
NS_MARIADB_PORT=3306
NS_MARIADB_USER=auxilia_user
NS_MARIADB_PASSWORD=change-me
NS_MARIADB_DATABASE=auxilia_web
DB_MAX_OPEN_CONNS=5
ALLOWED_ORIGINS=http://localhost:3000,https://hackathon25winter24.github.io
